Employee viz

In [2]:
#bring in the data

import pandas as pd

#load the data

file_path=r"C:\Users\Essie\Downloads\Employee.csv"
df=pd.read_csv(file_path)

#show the first few rows

df.head()

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot
0,Bachelors,2017,Bangalore,3,34,Male,No,0,0
1,Bachelors,2013,Pune,1,28,Female,No,3,1
2,Bachelors,2014,New Delhi,3,38,Female,No,2,0
3,Masters,2016,Bangalore,3,27,Male,No,5,1
4,Masters,2017,Pune,3,24,Male,Yes,2,1

In [14]:
#using seaborn to create bar plots with averages

import seaborn as sns
import matplotlib.pyplot as plt

edu_dist=df['Education','Gender']
plt.figure(figsize=(10,6))
sns.countplot(x='Education',hue='Gender',data=edu_dist)
plt.xlabel('Education')
plt.ylabel('Gender')
plt.show()

KeyError: ('Education', 'Gender')